<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stwórz nowe konto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body class="bg-light">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <div class="container-fluid">

      <div class="mb-5 mt-5">
        <p class="h1 text-center">Udostępnij swoje miejsce parkingowe</p>
      </div>

      <div class="col alert alert-primary text-center">
        Wybierz datę początkową i końcową.
      </div>

      <form method="post" action="/lease">
        <div class="col-3">
          <label for="from" class="form-label">Od:</label>
          <input type="date" class="form-control" id="from" name="from">
        </div>

        <div class="col-3">
          <label for="to" class="form-label">Do:</label>
          <input type="date" class="form-control" id="to" name="to">
        </div>

        <div class="col-3 mt-3">
          <button class="btn btn-success">Udostępnij</button>
        </div>

      </form>

      <span style="color:red; margin:10px">
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger text-center">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}
      </span>

    </div>
  </body>
</html>
